body{
    background-color: #f2f2f2;
    font-family: Arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

#top{
    background-color: #fcff31;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
}

#logo{
    align-self: center;
    margin-left: 15px;
    height: 60px;
    width: auto;
    filter: brightness(0);
}
#header{
    display: flex;
    flex-direction: row;
}

#logoExtensao{
    margin-top: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 3em;
}

#links{
    position: relative;
    display: flex;
}

#anchor{
    color: rgb(54, 54, 54);
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    text-decoration: none;
}

#anchor:hover{
    scale: 1.2;
    color: rgb(57, 52, 41);
}

#sobrenos{
    margin-top: 0px;    
    height: 600px;
    width: 100%;
    display: flex;
    margin-bottom: 80px;
}  

#descricao{
    height: 550px;
    width: 40%;
    margin-left: 5%;
    margin-top: 225px;
    text-align: center;
    position: absolute;
    flex-direction: column;
    gap: 20px;
}

#titulo{
    font-size: 4.2rem;
}

#subtitulo{
    margin-top: 20px;
    font-size: 2.5rem;
}

#texto{
    font-size: 20px;
}

#vid{
    height: 550px;
    width: 40%;
    position: absolute;
    margin-top: 200px;
    margin-left: 50%;
    text-align: center;
}

video{
    width: 100%;
}

#projeto{
    height: 750px;
    width: 100%;
    color: black;
    background-color: #fcff31;
}

#figma{
    margin-top: 5%;
    margin-left: 10%;
    height: 100px;
    width: 50%;
    position: absolute;
}

#artefatos{
    margin-left: 10%;
    margin-top: 25%;
    height: 100px;
    width: 50%;
    position: absolute;
    
}

button{
    position: absolute;
    margin-top: 30px;
    margin-left: 20%;
    height: 90px;
    width: 300px;
    border: medium;
    border-radius: 30px;
    background-color: rgb(255, 217, 0);
    font-size: 45px;
}

button:hover{
    background-color: rgb(55, 55, 55);
    color: rgb(204, 204, 204);
}

#equipe{
    height: 800px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
#pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
#nome{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#cargo{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#participantes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

#rodape{
    position: absolute;
    background-color: rgb(41, 41, 41);
    height: 100px;
    width: 100%;
    margin-top: 800px;
    text-align: center;
    color: rgb(204, 204, 204);
}

#final{
    margin-top: 40px;
}